<div class="post">
<h1>Resources</h1>
<p>There are many resources for Ruby on Rails but this one is very good. I followed this and you can checkout the <a href='https://www.youtube.com/watch?v=rfC6gKE8cdM&index=38&list=PLDmvslp_VR0xlwr5lAx2PDsZLu7oIOhpX'>Video here</a>. This is awesome and I owe my thanks for this video.</p>
</div>
