/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body
{
	background: #000000;
	color: #6F6F6F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
strong
{
	color: #3F3F3F;
}
h1,h2,h3
{
	color: #2B2522;
	font-family: 'Abel', sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
h1
{
	font-size: 2em;
}
h2
{
	font-size: 2.8em;
}
h3
{
	font-size: 1.6em;
}
p,ul,ol
{
	line-height: 180%;
	margin-top: 0;
}
ul,ol
{
}
a
{
	color: #D93544;
	text-decoration: underline;
}
a:hover
{
	text-decoration: none;
}
#wrapper
{
	background: #000000;
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}
#header-wrapper
{
	height: 120px;
}
#header
{
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	width: 1000px;
}
#logo
{
	color: #000000;
	float: left;
	margin: 0;
	padding: 0;
	width: 350px;
}
#logo h1, #logo p
{
}
#logo h1
{
	color: #D43442;
	font-family: 'Abel', sans-serif;
	font-size: 3.8em;
	font-weight: bold;
	letter-spacing: -1px;
	margin-left: 30px;
	padding: 20px 0px 0px 0px;
	text-transform: uppercase;
}
#logo h1 a
{
	color: #D43442;
}
#logo h1 span
{
}
#logo p
{
	color: #BEBEBE;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin: 0;
	padding: 0px 0 0 32px;
}
#logo a
{
	background: none;
	border: none;
	color: #707070;
	text-decoration: none;
}
#search
{
	float: right;
	height: 60px;
	padding: 20px 0px 0px 0px;
	width: 280px;
}

#search input[type="text"] 
{
        width: 160px;
}
#search form
{
	height: 41px;
	margin: 0;
	padding: 10px 0 0 0px;
}
#search fieldset
{
	border: none;
	margin: 0;
	padding: 0;
}
#search-text
{
	background: #FFFFFF;
	border: none;
	color: #5D781D;
	font: normal 11px Arial, Helvetica, sans-serif;
	height: 19px;
	padding: 4px 5px 1px 5px;
	text-transform: lowercase;
	width: 170px;
}
#search-submit
{
	background: #D93544;
	color: #FFFFFF;
	height: 26px;
	width: 50px;
}
#menu
{
	background: #D43442;
	float: right;
	height: 125px;
	margin: 0 auto;
	padding: 0;
}
#menu ul
{
	line-height: normal;
	list-style: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
}
#menu li
{
	border-left: 1px solid #000000;
	float: left;
}
#menu a
{
	border: none;
	color: #FFFFFF;
	display: block;
	font-family: 'Abel', sans-serif;
	font-size: 26px;
	font-weight: normal;
	height: 80px;
	padding: 45px 25px 0px 25px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#menu a:hover, #menu .current_page_item a
{
	background: #A32833;
	text-decoration: none;
}
#menu .current_page_item a
{
}
#page
{
	margin: 0 auto;
	padding: 0px 0px 0px 20px;
	width: 980px;
}
#page-bgtop
{
	padding: 20px 0px;
}
#content
{
	float: right;
	padding: 40px 0px 0px 0px;
	width: 600px;
}
.post, .post_full, .page
{
	#background: #FFFFFF url(images/page-gradient-bg.png) repeat-x left bottom;
	background: #FFFFFF left bottom;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,1);
	margin-bottom: 30px;
	outline: 1px dashed #D4D4D4;
	outline-offset: -5px;
	padding: 30px 20px 20px 20px;
}
.post .title, .page .title
{
	font-family: 'Abel', sans-serif;
	height: 41px;
	letter-spacing: -1px;
	padding: 0px 0px 0px 0px;
}
.post .title a, .page .title a
{
	border: none;
	color: #202020;
	text-decoration: none;
}
.post .entry
{
	padding: 20px 30px 20px 30px;
	padding-bottom: 20px;
	text-align: justify;
}
.post .byline
{
	clear: both;
	overflow: hidden;
	padding-bottom: 20px;
}
.post .meta
{
	float: left;
}
.post .links
{
	float: right;
}
.post_full .byline p
{
	margin: 0;
	padding: 0;
}
.post_full .byline
{
	background: black;
	border-left: 5px #D93544 solid;
	clear: both;
	color: #fff;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 5px;
}
.links a
{
}
#sidebar
{
	float: left;
	margin: 0px;
	padding: 20px 20px 0px 0px;
	width: 300px;
}
#sidebar ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
#sidebar li
{
	margin: 0;
	padding: 0;
}
#sidebar li ul
{
	margin: 0px 0px;
	padding-bottom: 30px;
}
#sidebar li li
{
	#background: url(images/img01.jpg) no-repeat left 15px;
	border-bottom: 1px dashed #191919;
	border-left: none;
	line-height: 35px;
	margin: 0px 20px 0px 20px;
	text-align: left;
}
#sidebar li li span
{
	display: block;
	font-size: 11px;
	font-style: italic;
	margin-top: -20px;
	padding: 0;
}
#sidebar li li a
{
	padding: 0px 0px 0px 0px;
}
#sidebar h2
{
	background: url(images/img03.jpg) no-repeat left top;
	color: #FFFFFF;
	font-size: 2em;
	height: 31px;
	letter-spacing: -0.5em;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 20px;
	text-align: left;
	text-shadow: #203060 -1px 1px 2px;
	text-transform: uppercase;
}
#sidebar p
{
	color: #847F7E;
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}
#sidebar a
{
	border: none;
	color: #847F7E;
}
#sidebar a:hover
{
	color: #847F7E;
	text-decoration: underline;
}
#calender
{
}
#calender_wrap
{
	padding: 20px;
}
#calender table
{
	width: 100%;
}
#calendar body td
{
	text-align: center;
}
#calendar #next
{
	text-align: right;
}
/footer/ #footer
{
	font-family: Arial, Helvetica, sans-serif;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	width: 980px;
}
#footer p
{
	color: #847F7E;
	font-size: 10px;
	line-height: normal;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
#footer a
{
	color: #847F7E;
}
form label
{
	display: inline-block;
	width: 110px;
}
